{% extends 'bootstrap/base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
        {% block content %}
            
            <div class="container">
                <div class="row">
                    
                        
                            {% for source in major_source %}
                                <div class="col-sm-4">
                                    <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">{{source.name}}</h3>
                                        <p class="card-text">{{source.description|truncate(100)}}</p>
                                        <a type="button" class="btn btn-primary" href="/sources/{{source.id}}" target="_blank">visit <span>{{source.name}}</span> Articles</a>
                                    </div>
                                    </div>
                                </div>
                                <!-- div.flex -->
                                <!-- <div class="col-md-3">
                                    <div class="name-username ">

                                        <h1>{{source.name}}</h1>
                                        <a type="button" class="btn btn-primary" href="/sources/{{source.id}}" target="_blank">visit <span>{{source.name}}</span> Articles</a>
                                    </div>
                                    <div class="description">
                                        <h3>{{source.description|truncate(20)}}</h3>

                                    </div>
                            
                                </div> -->
                            {% endfor %}
                        

                    
                    <!-- <div class="col-md-6">
                        <div class="description">
                            {% for source in major_source %}
                            <h3>{{source.description}}</h3>
                            <h4>{{source.category}}</h4>
                            {% endfor %}
                            
                        </div>

                    </div> -->
                </div>
                
                
                

            </div>  
            
        {% endblock%}

    <!-- </body>
</html> -->